<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Patinhas</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/main.css">
   <link rel="stylesheet" href="css/media-queries.css">
   <%= stylesheet_link_tag    'indexs', media: 'all', 'data-turbolinks-track' => true %>         

   <!-- Script
   =================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- Favicons
	=================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body class="homepage">

   <div id="preloader">
	   <div id="status">
         <img src="images/loader.gif" height="60" width="60" alt="">
         <div class="loader">Loading...</div>
      </div>
   </div>


   <!-- Header
   =================================================== -->
   <header id="main-header">

   	<div class="row header-inner">

	      <div class="logo">
	         <a class="smoothscroll" href="#hero">Patinhas</a>
	      </div>

	      <nav id="nav-wrap">

	         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
	         	<span class='menu-text'>Show Menu</span>
	         	<span class="menu-icon"></span>
	         </a>
         	<a class="mobile-btn" href="#" title="Hide navigation">
         		<span class='menu-text'>Hide Menu</span>
         		<span class="menu-icon"></span>
         	</a>

	         <ul id="nav" class="nav">
	            <li class="current"><a class="smoothscroll" href="#hero">Home</a></li>
		         <li><a class="smoothscroll" href="#portfolio">Adoção</a></li>
	            <li><a class="smoothscroll" href="#services">Doar</a></li>
	            <li><a class="smoothscroll" href="#about">Entrar</a></li>
	            <li><a class="smoothscroll" href="#journal">Cadastro</a></li>

	         </ul>

	      </nav> <!-- /nav-wrap -->

	   </div> <!-- /header-inner -->

   </header>


   <!-- Hero
   =================================================== -->
   <section id="hero">

		<div class="row hero-content">

			<div class="twelve columns flex-container">

			   <div id="hero-slider" class="flexslider">

				   <ul class="slides">

					   <!-- Slide -->
					   <li>
						   <div class="flex-caption">
								<h1>Salve uma vida. Ele vai te retribuir com todo o coração dele!</h1>
								<p><a class="button stroke smoothscroll" href="#about">Adote!</a></p>
							</div>
					   </li>

					   <!-- Slide -->
					   <li>
							<div class="flex-caption">
								<h1 >Os bichinhos que são adotados parecem realmente entender seu ato de heroísmo.</h1>
								<p><a class="button stroke smoothscroll" href="#portfolio">Adote!</a></p>
							</div>
					   </li>

				   </ul>

			   </div> <!-- .flexslider -->

	      </div> <!-- .flex-container -->

		</div> <!-- .hero-content -->

   </section> <!-- #hero -->


   <!-- Portfolio
   ================================================== -->
   <section id="portfolio">

      <div class="row section-head">

      	<div class="twelve columns">

	         <h1>NOVOS NO SITE<span>.</span></h1>

	         <hr />
	    </div>

      </div>

      <div class="row items">

      	<div class="twelve columns">

            <div id="portfolio-wrapper" class="bgrid-fourth s-bgrid-third mob-bgrid-half group">

          	   <div class="bgrid item">
                  <div class="item-wrap">

                     <a href="portfolio.html">
                        <img src="images/portfolio/cat1.jpg">
                        <div class="overlay"></div>
                        <div class="portfolio-item-meta">
          					      <h5>Alfredo</h5>
                              <p>Macho</p>
          					</div>
                     </a>

                  </div>
          		</div> <!-- /item -->

               <div class="bgrid item">
                  <div class="item-wrap">

                     <a href="portfolio.html">
                        <img src="images/portfolio/cat2.jpg" alt="Hotel Sign">
                        <div class="overlay">
                        	<div class="portfolio-item-meta">
          					      <h5>Luna</h5>
                              <p>Fêmea</p>
          					   </div>
                        </div>
                     </a>

                  </div>
          		</div> <!-- /item -->

               <div class="bgrid stack item">
                  <div class="item-wrap">

                     <a href="portfolio.html">
                        <img src="images/portfolio/cat3.jpg" alt="Beetle">
                        <div class="overlay">
                        	<div class="portfolio-item-meta">
          					      <h5>Esmeralda</h5>
                              <p>Fêmea</p>
          					   </div>
                        </div>
                     </a>

                  </div>
          		</div> <!-- /item -->

               <div class="bgrid item">
                  <div class="item-wrap">

                     <a href="portfolio.html">
                        <img src="images/portfolio/cat4.jpg" alt="Banjo Player">
                        <div class="overlay">
                        	<div class="portfolio-item-meta">
          					      <h5>Algodão</h5>
                              <p>Macho</p>
          					   </div>
                        </div>
                     </a>

                  </div>
          		</div> <!-- /item -->

               <div class="bgrid item">
                  <div class="item-wrap">

                     <a href="portfolio.html">
                     	<img src="images/portfolio/dog1.jpg">
                       	<div class="overlay">
                       		<div class="portfolio-item-meta">
          					      <h5>Batatinha</h5>
                              <p>Macho</p>
          					   </div>
                       	</div>
                     </a>

                  </div>
          		</div> <!-- /item -->

               <div class="bgrid item">
                  <div class="item-wrap">

                     <a href="portfolio.html">
                        <img src="images/portfolio/dog2.jpg" alt="Farmerboy">
                        <div class="overlay">
                        	<div class="portfolio-item-meta">
          					      <h5>Dara</h5>
                              <p>Fêmea</p>
          					   </div>
                        </div>
                     </a>

                  </div>
          		</div> <!-- /item -->

               <div class="bgrid item">
                  <div class="item-wrap">

                     <a href="portfolio.html">
                        <img src="images/portfolio/dog3.jpg" alt="Judah">
                        <div class="overlay">
                        	<div class="portfolio-item-meta">
          					      <h5>Judah</h5>
                              <p>Macho</p>
          					   </div>
                        </div>
                     </a>

                  </div>
          		</div> <!-- /item -->

               <div class="bgrid item">
                  <div class="item-wrap">

                     <a href="portfolio.html">
                        <img src="images/portfolio/dog4.jpg" alt="Embossed Paper">
                        <div class="overlay">
                        	<div class="portfolio-item-meta">
          					      <h5>Pipoca</h5>
                              <p>Macho</p>
          					   </div>
                        </div>
                     </a>

                  </div>
          		</div>  <!-- item end -->

            </div> <!-- /portfolio-wrapper -->

         </div> <!-- /twelve -->

      </div>  <!-- /row -->

   </section> <!-- /Portfolio -->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
   <script src="js/jquery.flexslider.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/backstretch.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/main.js"></script>

</body>

</html>
