<p id="notice"><%= notice %></p>

<h1>Adocaos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Cpf</th>
      <th>Endereco</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adocaos.each do |adocao| %>
      <tr>
        <td><%= adocao.nome %></td>
        <td><%= adocao.idade %></td>
        <td><%= adocao.cpf %></td>
        <td><%= adocao.endereco %></td>
        <td><%= adocao.comentario %></td>
        <td><%= link_to 'Show', adocao %></td>
        <td><%= link_to 'Edit', edit_adocao_path(adocao) %></td>
        <td><%= link_to 'Destroy', adocao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adocao', new_adocao_path %>
