<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @adocao.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @adocao.idade %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @adocao.cpf %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @adocao.endereco %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @adocao.comentario %>
</p>

<%= link_to 'Edit', edit_adocao_path(@adocao) %> |
<%= link_to 'Back', adocaos_path %>
