<html>	
	<head>
		<link rel= "stylesheet" type="text/css" href="logincss.css">
		<script src="jquery-3.4.1.min.js"></script>
	</head>

	<body>
		<div class="container">
		
			<div class="row">
		
				<div class="container">
				
					<div class="card"></div>
					
					<div class="card">
						<h1 class="title">Login</h1>
						
						<form>
							<div class="input-container">
								<input type="text" id="Username" required="required"/>
								<label for="Username">Email</label>
								<div class="bar"></div>
							</div>
							  
							<div class="input-container">
								<input type="password" id="Password" required="required"/>
								<label for="Password">Senha</label>
								<div class="bar"></div>
							</div>
							  
							<div class="button-container">
								<button><span>ENTRAR</span></button>
							</div>
							  
							<div class="footer"><a href="#">Esqueceu sua senha?</a></div>
						</form>
					</div>
					
					<div class="card alt">
						<div class="toggle"></div>
						
						<h1 class="title">Registrar
							<div class="close"></div>
						</h1>
						
						<form>
							<div class="input-container">
								<input type="text" id="Username" required="required"/>
								<label for="Username">Email</label>
								<div class="bar"></div>
							</div>
						  
							<div class="input-container">
								<input type="password" id="Password" required="required"/>
								<label for="Password">Senha</label>
								<div class="bar"></div>
							</div>
						  
							<div class="input-container">
								<input type="password" id="Repeat Password" required="required"/>
								<label for="Repeat Password">Repita a senha</label>
								<div class="bar"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
		$(document).ready(function(){
			$('.toggle').on('click', function() {
			$('.container').stop().addClass('active');
			});

			$('.close').on('click', function() {
				$('.container').stop().removeClass('active');
			});

		});
		</script>
	</body>
</html>