<p id="notice"><%= notice %></p>

<h1>Doacaos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Idade</th>
      <th>Comentario</th>
      <th>Raca</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doacaos.each do |doacao| %>
      <tr>
        <td><%= doacao.nome %></td>
        <td><%= doacao.cpf %></td>
        <td><%= doacao.idade %></td>
        <td><%= doacao.comentario %></td>
        <td><%= doacao.raca %></td>
        <td><%= link_to 'Show', doacao %></td>
        <td><%= link_to 'Edit', edit_doacao_path(doacao) %></td>
        <td><%= link_to 'Destroy', doacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doacao', new_doacao_path %>
