<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @doacao.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @doacao.cpf %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @doacao.idade %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @doacao.comentario %>
</p>

<p>
  <strong>Raca:</strong>
  <%= @doacao.raca %>
</p>

<%= link_to 'Edit', edit_doacao_path(@doacao) %> |
<%= link_to 'Back', doacaos_path %>
